<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="static/header.html :: head">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- Trigger/Open The Modal -->
<div class="container my-3">
    <div class="form-title"><h3><font size="6" color="#faebd7"><B>Products</B></font></h3></div>
<!--         ProductForm-->
<button id="myBtn" >Update Product</button>

<!--        The Modal -->
<div id="myModal" class="modal">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">

            <!--                     Modal content-->
            <div class="modal-content">
                <span class="close">&times;</span>
                <form th:action="@{/admin/product/update}" method="post" th:object="${}">
                    <div>
                        <label for="productname">productname</label>
                        <input type="text" name="productname" id="productname" th:field="*{productname}"/>
                    </div>
                    <div>
                        <label for="rayon">rayon</label>
                        <input type="date" name="rayon" id="rayon" th:field="*{rayon}"/>
                    </div>
                    <div>
                        <label for="peremption">peremption</label>
                        <input type="date" name="peremption" id="peremption" th:field="*{peremption}"/>
                    </div>
                    <div>
                        <label for="price">price</label>
                        <input type="number" min="0" step="0.01" name="price" id="price" th:field="*{price}"/>
                    </div>
                    <div>
                        <label for="quantities">Quantite</label>
                        <input type="number" min="1" max="100" name="quantities" id="quantities" th:field="*{quantities}"/>
                    </div>
                    <div class="form-group">
                        <label for="categorie">categorie</label>
                        <select id="categorie" class="form-control" th:field="*{id_subfk}" required>
                            <option th:each="cat : ${subcat}" th:value="${cat.id}"
                                    th:text="${cat.subcat}"></option>
                        </select>
                    </div>
                                                <div class="form-group">
                                                    <label for="statut">statut</label>
                                                    <select id="statut" class="form-control" th:field="*{id_statfk}" required>
                                                        <option th:each="stat : ${status}" th:value="${stat.id}"
                                                                th:text="${stat.stat_name}"></option>
                                                    </select>
                                                </div>
                    <div>
                        <button type="submit">Save Product</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!--        End Modal-->
</body>
</html>