<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="static/header.html :: head">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<h1>Admin page</h1>
<!--<button type="button" onclick="javascript:history.back()">Back</button>-->

<div class="blur2"></div>
<div class="containers">
    <div class="navbar" th:replace="static/adminnavbar.html :: navbar"></div>
<!--    <div class="sidebar">-->
<!--        <p class="nav-item dropdown" th:each="cat : ${category}">-->
<!--            <a class="nav-link dropdown-toggle" th:href="@{'/admin/product/' + ${cat.cat_name}}" id="navbardrop" data-toggle="dropdown"-->
<!--               th:text="${cat.cat_name}">-->
<!--            </a>-->
<!--        <div class="dropdown-menu" th:each="sub : ${subcat}">-->
<!--            <a class="dropdown-item" href="#" th:text="${sub.id_catfk}"></a>-->
<!--        </div>-->
<!--&lt;!&ndash;            <a th:text="${cat.cat_name}" th:href="@{'/admin/product/' + ${cat.cat_name}}"></a></p>&ndash;&gt;-->
<!--        </p>-->
<!--    </div>-->


    <!-- Trigger/Open The Modal -->
    <div class="container my-3">
        <div class="form-title"><h3><font size="6" color="#faebd7"><B>Products</B></font></h3></div>

<!--         ProductForm-->
        <button id="myBtn" >Create Product</button>



        <!--   Create Modal -->

        <div id="myModal" class="modal">
            <div th:replace="admin/CreateModal :: CreateModal"></div>
        </div>
        <!--        End Modal-->


        <div class="form-background-list" th:replace="admin/ProductList :: ProductList">
        </div>

    </div>
</div>
<!--<div th:replace="fragments/deleteConfirmModal.html :: div"></div>-->
</body>
<footer th:insert="static/footer.html :: foot"></footer>
</html>