<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error 500</title>
    <link type="text/css" href="/../static/css/error500.css" rel="stylesheet" th:href="@{/css/error500.css}">
</head>
<body>
<div class="wrapper">
    <div class="box">
        <h1>500</h1>
        <p>Sorry, it's me, not you.</p>
        <p>&#58;&#40;</p>
        <p><button type="button" onclick="javascript:history.back()">Back</button></p>
    </div>
</div>
</body>
</html>